/* Navbar */
.page.navbar {
	position: sticky;
	top: 0;
	z-index: 9;
	width: 100%;
	height: 64px;
	/* height: auto; */
	/* Default */
	// background-color: var(--bg-brand-secondary-light-color);
	background-color: var(--bg-brand-secondary-color);
	color: #000;
	padding-left: 1rem;
	padding-right: 1rem;
		
	.navbar-head {
		display: flex;
		align-items: center;
		font-weight: 500;
	}
	
	/* 共用的style */
	.navbar-action {
		display: flex;
		font-weight: 500;
		
		a.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 1.25rem;
			transition: width 0.3s ease-in-out 0.1s;
			overflow: hidden;
			margin-left: .5rem;
			
			.title {
				font-size: 0px;
				transition-property: font-size;
				transition-duration: .3s;
				transition-delay: .1s;
			}
			
			&:hover {
				.title {
					font-size: 1rem;
					transition-property: font-size;
					transition-duration: .3s;
					transition-delay: .3s;
				}
			}
			
		}
		
		/* Page Toolbar */
		a.btn-profile {
			background-color: #00acc1;
			color: #fff;
		}
		a.btn-create {
			background-color: var(--bg-btn-create-color);
			color: #fff;
			
			&:hover {
				width: calc(3ch * 3.5);
			}
		}
		
		a.btn-return {
			background-color: var(--bg-btn-return-color);
			color: #fff;
			
			&:hover {
				width: calc(4ch * 3.5);
			}
		}
	}
}

.offcanvas.offcanvas-start {
	width: 280px;
	
	.offcanvas-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.info {
			flex: 1;
			background-color: green;
			>.material-symbols-outlined {
				font-size: 5rem;
				color: #e91e63;
			}
			
		}
	}
}
